.user-home {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.top-dash {
    width: 100%;
    display: flex;
    gap: 18px;
}

.top-dash-item {
    width: calc(100% / 4);
    height: 200px;
    padding: 10px;
    background-color: var(--thinLine);

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;

}

.top-dash-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.dashboard-header-icon {
    font-size: 25px;

}

.top-dash-item-body> {
    display: flex;
    flex-direction: column;

    align-self: baseline;
}

.top-dash-item-body>div {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
}


.dash-section-2 {
    display: flex;
    justify-content: space-between;
    gap: 18px
}



.sending-graph {
    height: 400px;
    background-color: rgba(12, 49, 89, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    border-radius: 10px;
}



@media screen and (max-width:750px) {
    .top-dash {
        flex-direction: column;
    }

    .top-dash-item {
        width: 100%;
    }

    .sending-graph {
        height: 200px;
        background-color: rgba(12, 49, 89, 0.9);
    }
}