#hero {
    padding-bottom: 8rem;
}

.section-dark {
    background-color: var(--color1);
    padding: 4rem 0;
}

.section-light {
    background-color: var(--color4);
    padding: 4rem 0;
}

.home-section-container {
    width: 85%;
    margin: auto;

}


.section1 {
    display: flex;
    justify-content: space-between;

}

.section1-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.section1-left>h1 {
    font-size: 50px;
    font-weight: 800;
    color: white;

}



.section1-left>p {
    font-size: 22px;
    color: var(--color3);
}

.section1-right {
    width: 40%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.section1-right>img {
    width: 100%;
    margin: 0 auto;


}

.section-header {
    display: block;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}

.feautures-container {
    width: 80%;
    margin: auto;

}



.HIW-cards {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-top: 20px;
}

.HIW-cards>div {
    width: calc(100% / 4);
    gap: 15px;
}


/* Style details within the page-specific container */
.page-specific-container details {
    padding: 10px;
    
    width: 100%;
    color: var(--backgroundColor2);
    margin-bottom: 10px;
}

/* Style summary within the page-specific container */
.page-specific-container summary {
    padding: 20px;
    cursor: pointer;
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border: 2px solid var(--color2);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style details content within the page-specific container */
.page-specific-container details p {
    margin: 0;
    background-color: transparent;
    color: var(--fontColor2);
    border: 1px solid var(--color1);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


@media screen and (max-width:750px) {

    .section-dark,
    .section-light {
        padding: 2rem;
    }

    .section1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .section1-left,
    .section1-right {
        width: 100%;
        display: block;
    }

    .section1-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }


    .section1-left>h1 {
        font-size: 30px;
        
    }

    .section1-left>p {
        font-size: 16px;
    }

    .section1-left>button {
        margin: auto;
    }

    .feautures-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .feautures-container>div {
        padding-bottom: 20px;
        width: 100%;


    }

    .HIW-cards {
        flex-direction: column;
        gap: 3rem;
    }

    .HIW-cards>div {
        width: 100%
    }

}