.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}


.login-nav{
    display: flex;
    gap: 4px;
}

.login-nav>p:hover{
  color: var(--color2);
}